[submodule "projects/boilerplate"]
	path = projects/boilerplate
	url = https://github.com/ampify-io/boilerplate.git

[submodule "examples"]
	path = examples
	url = https://github.com/ampify-io/examples.git
[submodule "projects/wp-plugin"]
	path = projects/wp-plugin
	url = https://github.com/ampify-io/wp-plugin
